<!DOCTYPE html>
<html lang="en,pl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="Keywords" content="Sebastian, Zając, Zajac, data scientists, statistics, physics, neutrino physics, neutrino, RNA, UKSW, Research">
	<meta name="description" content="Sebastian Zając's Data Mining">
	<meta name="author" content="Sebastian Zając">

	<title>Data Mining | Sebastian Zając</title>

	<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    		<![endif]-->

</head>

<body ng-app='app'>
	<div class="container" ng-controller="Dane">
		<div class="row">
			<ul class="breadcrumb">
				<li><a href="index.html#teaching">Teaching</a></li>
				<li><a href="dataMining.html">Eksploracja Danych</a></li>
				<li class="active">2016/2017</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-sm-12">

				<h1 style="font-weight: 300">Eksploracja Danych <strong>2016/2017</strong><br>

        <span style="font-size: smaller; font-style: italic;">(Data Mining)</span><br>
        <span style="font-size: small"><a href="http://www.wmp.uksw.edu.pl">Wydział Matematyczno-Przyrodniczy. Szkoła Nauk Ścisłych</a> UKSW,
        przedmiot obieralny, studia mgr., kier. <em>Informatyka</em></span>
        </h1>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2 style="font-weight: 300">Informacje ogólne</h2>

				<table class="table">
					<tbody>
						<tr class="active">
							<th>Wykład:</th>
							<td>dr <a href="http://www.sebastianzajac.pl/">Sebastian Zając</a></td>
							<td>środa, 13.15-14.45, s. 1241, bud. 12 </td>
						</tr>

						<tr>
							<th rowspan="2">Ćwiczenia:</th>
							<td>dr <a href="http://www.sebastianzajac.pl/">Sebastian Zając</a></td>
							<td>środa, 15.00-16.30, s. 1241, bud. 12</td>
						</tr>
					</tbody>
				</table>

				<blockquote>
					<p>Kurs poświęcony jest wprowadzeniu do zagadnień związanych z Eksploracją danych. Uczestnicy kursu mają możliwość poznania technik oraz narzędzi programistycznych stosowanych przy analizie i prezentacji danych.</p>

					<p>Szczególny nacisk kładziemy na omówienie i ćwiczenie technik programowania oraz użycia narzędzi przydatnych w pracy m.in. na stanowiskach analityk danych, statistical programmer, junior data scientist oraz w zastosowaniach naukowo-badawczych.</p>

				</blockquote>

				<div class="row">
					<div class="col-sm-12">
						<h2 style="font-weight: 300">Harmonogram zajęć</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-lg-3">
						<ul class="nav nav-tabs nav-stacked">
							<li ng-repeat='item in zajecia'><a data-toggle="tab" href="#{{item.link}}">{{item.name}}</a></li>
						</ul>
					</div>
					<div class="col-sm-9 col-lg-9">
						<div class="tab-content">
							<div id="lit" class="tab-pane fade in active">
								<h3 style="font-weight: 300">Literatura</h3>
								<ul>
									<li ng-repeat='item in zajecia[0].data'>{{item.autors}} - <a href="{{item.link}}">{{item.title}} </a>, {{item.wydawca}}, {{item.year}}.</li>
								</ul>
								<h3 style="font-weight: 300">Strony WWW</h3>
								<ul>
									<li ng-repeat='item in zajecia[0].strony'><a href="{{item.link}}">{{item.opis}}</a></li>
								</ul>
								<h3 style="font-weight: 300">Zbiory danych</h3>
								<ul>
									<li ng-repeat='item in zajecia[0].errr'><a href="{{item.link}}">{{item.opis}}</a></li>
								</ul>
							</div>
							<!-- end of Education -->
							<div id="week1" class="tab-pane fade">
								<h3>Tydzień 1 (01-03-2017)</h3>
								<p>Wprowadzenie – informacje ogólne – zakres - zasady zaliczania.
								<h4><a href="wyklady/dm1.pdf">Wykład 1 (pdf)</a></h4>
								<h4></h4>
								<p><a href="cwiczenia/dm1.html">Środowisko programistyczne</a></p>
								<p><a href="cwiczenia/dm1R.html">Wprowadzenie do R</a></p>
							</div>
							<div id="week2" class="tab-pane fade">
								<h3>Tydzień 2 (08-03-2017)</h3>
								<h4><a href="wyklady/dm1.pdf">Wykład</a></h4>
								<ul>
									<li>(Big) Dane </li>
									<li>Historia przetwarzania danych</li>
									<li>Modele przetwarzania danych, OLTP -> OLAP -> Data Mining</li>
									<li>Podstawowe definicje i pojęcia</li>
									<li>Data Scientist</li>
								</ul>
								<h4><a href="cwiczenia/dm1.pdf">Ćwiczenia</a></h4>
								<p>Wprowadzenie do środowiska R </p>
							</div>
							<div id="week3" class="tab-pane fade">
								<h3>Tydzień 3 (15-03-2017)</h3>
								<h4><a href="wyklady/dm2.pdf">Wykład</a></h4>
								<ul>
									<li>CRISP-DM </li>
									<li>Odkrywanie wiedzy</li>
									<li>Mity Data Mining</li>
									<li>Klasyfikacja i zadania Data Mining</li>
								</ul>
								<h4><a href="cwiczenia/IntroJupyter.zip">Ćwiczenia</a></h4>
								<p>Instalacja środowiska <a href="https://www.continuum.io/downloads" target="_blank">Anaconda</a> (Python 3) </p>
								<p>Wprowadzenie do <a href='http://jupyter.org' target="_blank"> Jupyter Notebook</a> , Markdown </p>
								<p>Jeśli nie zainstalowałeś Anacondy możesz wypróbować notatnik przez www <a href="https://try.jupyter.org"> tutaj</a></p>
								<ol>
									<li><a href="cwiczenia/01_Markdown_Cells.html" target='_blank'>Mardown Cells</a></li>
									<li><a href="cwiczenia/02_Running_Code.html" target='_blank'>Running Code</a></li>
									<li><a href="cwiczenia/03_Basic_Output.html">Basic Output</a></li>
								</ol>

							</div>
							<div id="week4" class="tab-pane fade">
								<h3>Tydzień 4</h3>
								<p>Ze wzlgędu na Warszawskie Dni Informatyki zającia zostały odwołane</p>
							</div>
							<div id="week5" class="tab-pane fade">
								<h3>Tydzień 5</h3>
								<p>Ze wzlgędu na Warszawskie Dni Informatyki zającia zostały odwołane</p>
							</div>
							<div id="week6" class="tab-pane fade">
								<h3>Tydzień 6 (05-04-2017)</h3>
								<h4><a href="wyklady/dm3.pdf">Wykład</a></h4>
								<ul>
									<li>Modyfikowanie i czyszczenie danych</li>
									<li>Typy danych i atrybuty</li>
									<li>Statystyki opisowe</li>
									<li>Statystyki graficzne - histogram, scatter plot, box plot </li>
								</ul>
								<h4>Ćwiczenia</h4>
								<p><a href="cwiczenia/EksploracjaR.html">Ćwiczenia R</a></p>
								<p><a href="cwiczenia/EksploracjaR.ipynb">Ćwiczenia R notebook</a></p>
								<p><a href="cwiczenia/BoxPlot.html">BoxPlot Pandas</a></p>
								<p><a href="cwiczenia/BoxPlot.ipynb">BoxPlot notebook</a></p>
								<p><a href="cwiczenia/irisExample/iris-data.csv">Iris Data csv</a></p>
							</div>
							<div id="week7" class="tab-pane fade">
								<h3>Tydzień 7</h3>
								<h4>Ćwiczenia</h4>
								<p><a href="cwiczenia/lin_reg/A1_Overview.html">Regresja Liniowa Overview</a></p>
								<p><a href="cwiczenia/lin_reg/A2_Data_Exploration.html">Regresja Liniowa Eksploracja</a></p>
								<p><a href="cwiczenia/lin_reg/A3_Analysis.html">Regresja Liniowa Analiza</a></p>
								<p><a href="cwiczenia/lin_reg/loanf.csv">dane csv</a></p>
								<p><a href="cwiczenia/lin_reg/Boston_R.html">R Analiza - Boston</a></p>
								<p><a href="cwiczenia/lin_reg/Boston_Python.html">Python Analiza - Boston</a></p>

							</div>
							<div id="week8" class="tab-pane fade">
								<h3>Tydzień 8</h3>
							</div>
							<div id="week9" class="tab-pane fade">
								<h3>Tydzień 9</h3>
								<h4><a href="wyklady/dm4.pdf">Wykład</a></h4>
							</div>
							<div id="week10" class="tab-pane fade">
								<h3>Tydzień 10</h3>
							</div>
							<div id="week11" class="tab-pane fade">
								<h3>Tydzień 11</h3>
							</div>
							<div id="week12" class="tab-pane fade">
								<h3>Tydzień 12</h3>
							</div>
							<div id="week13" class="tab-pane fade">
								<h3>Tydzień 13</h3>
							</div>
							<div id="week14" class="tab-pane fade">
								<h3>Tydzień 14</h3>
							</div>
						</div>
					</div>
				</div>


				<!-- footer -->
				<div class="row">
					<div class="col-lg-12 text-center">
						<hr class="small">
						<p class="text-muted">Copyright &copy; 2017 Sebastian Zajac <small>with Bootstrap and Angular.js technology </small></p>
					</div>
				</div>
			</div>


			<script src="js/angular.min.js">
			</script>
			<script src="js/jquery.js"></script>
			<script src="js/bootstrap.js"></script>
			<script src="js/analytics.js"></script>
			<script src="js/dm.js"></script>
</body>

</html>
