<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Data Mining | Lectures</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a href="index.html#portfolio">Back Home</a></li>
	         <li class="current"><a class="smoothscroll" href="#styles">Data Mining</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

       <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Data Mining</h1>
            <h3>Szkoła Nauk Ścisłych UKSW <br> Wydział Matematyczno-Przyrodniczy. <br> Przedmiot obieralny, studia II stopnia, kierunek <span>Informatyka</span> </h3>
            <hr />
            <ul class="social">
               <li><a href="https://github.com/sebkaz/DataMining" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#styles"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->

   <!-- Style Guide Section
   ================================================== -->
   <section id="styles" style="padding: 90px 0 72px; background: #fff;">

      <div class="row add-bottom">

         <div class="twelve columns add-bottom">

            <h2>Informacje ogólne</h2>

            <h3>Wykład i ćwiczenia: dr Sebastian Zając</h3><p>Kurs poświęcony jest wprowadzeniu do zagadnień związanych z Eksploracją danych. Uczestnicy kursu mają możliwość poznania technik oraz narzędzi programistycznych stosowanych przy analizie i prezentacji danych.</p> <p>Szczególny nacisk kładziemy na omówienie i ćwiczenie technik programowania oraz użycia narzędzi przydatnych w pracy m.in. na stanowiskach analityk danych, statistical programmer, junior data scientist oraz w zastosowaniach naukowo-badawczych.</p>

         </div>


         <hr />

      </div> <!-- Row End-->

 <!--     <div class="row">

         <div class="four columns">
             <h3 class="half-bottom">Literatura</h3>
            <dl>
                  <dt>Eksploracja Danych. Metody i algorytmy </dt>
                  <dd>Tadeusz Morzy,  PWN, 2013.</dd>
                  <dt>Badanie danych. Raport z pierwszej linii działań </dt>
                  <dd>Rachel Schutt, Cathy O'Neil - Helion, 2014.</dd>
                  <dt>Przetwarzanie i analiza danych w języku Python </dt><dd>Marek Gągolewski, Maciej Bartoszuk, Anna Cena - Wydawnictwo Naukowe PWN, 2016.<dd></dt> <dt ng-repeat="item in zajecia[0].data" class="ng-binding ng-scope">Marek Gągolewski - <a href="#" class="ng-binding">Programowanie w języku R </a>, Wydawnictwo Naukowe PWN, 2014.</dt><dt ng-repeat="item in zajecia[0].data" class="ng-binding ng-scope">Dominik Spinczyk, Mariusz Dzieciątko - <a href="#" class="ng-binding">Text Mining </a>, Wydawnictwo Naukowe PWN, 2016.</dt><dt>Michael Alexander, Jared Decker, Bernard Wehbe - <a href="#">Analizy Business Intelligence. Zaawansowane wykorzystanie Excela </a>, Helion, 2015.</dt><dt>Foster Provost, Tom Fawcett - <a href="#">Analiza danych w biznesie </a>, Helion, 2013.</dt><dt>William E.Shotts JR - <a href="#">Linux. Wprowadzenie do wiersza poleceń </a>, Wydawnictwo Naukowe PWN, 2014.</dt>
                </ul>
	      </div>

         <div class="four columns">
             <h3 class="half-bottom">Strony WWW</h3>
		      <dl>
               <dt><b>This is a term</b></dt>
                  <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
               <dt><b>Another Term</b></dt>
                  <dd>And it gets a definition too, which is this line</dd>
                  <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
            </dl>
	      </div>

         <div class="four columns">
             <h3 class="half-bottom">Zbiory Danych</h3>
		      <dl>
               <dt><b>This is a term</b></dt>
                  <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
               <dt><b>Another Term</b></dt>
                  <dd>And it gets a definition too, which is this line</dd>
                  <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
            </dl>
	      </div>

      </div>


      <div class="row">

         <div class="three columns">
            <h3>Tydzień 1</h3>
		      <ul>
           <li>Wprowadzenie</li>
           <li>Informacje ogólne</li>
           <li>Zakres</li>
           <li>Zasady zaliczenia</li>
            </ul>
	      </div>

         <div class="nine columns">
		      <p>Tutaj bedą elementy do pobrania <a class="button" href="#">Wykład 1</a></p>
	      </div>

      </div>

     <div class="row">

         <div class="three columns">
            <h3>Tydzień 2</h3>
            <ul>
           <li>Big Dane</li>
           <li>Historia przetwarzania danych</li>
           <li>Modele przetwarzania danych.</li>
           <li>OLTP -> OLAP -> Data Mining</li>
           <li>Podstawowe definicje i pojęcia</li>
           <li>Data Scientist</li>
            </ul>
         </div>

         <div class="nine columns">
            <p>Tutaj bedą elementy do pobrania <a class="button" href="#">Wykład 2</a></p>
         </div>

      </div>

     <div class="row">

         <div class="three columns">
            <h3>Tydzień 3</h3>
            <ul>
           <li>CRISP-DM</li>
           <li>Odkrywanie wiedzy</li>
           <li>Mity Data Mining</li>
           <li>Klasyfikacja i zadania DM</li>
            </ul>
         </div>

         <div class="nine columns">
            <p>Tutaj bedą elementy do pobrania <a class="button" href="#">Wykład 1</a></p>
         </div>

      </div>
   </section>

 -->



  <footer id="footer">
      <div class="row">
         <div class="six columns contact-right"><h4>Contact</h4>
            <p> Cardinal Stefan Wyszynski Univeristy<br>Faculty of Mathematics and Natural Sciences <br> ul. Woycickiego 1/3, 01-938 Warsaw, Poland
            </p>
            <p>
               e-mail: s.zajac [at] uksw.edu.pl
            </p></div>
         <div class="six columns contact-left"><h4>Links</h4>
            <ul>
               <li><a href="http://wmp.uksw.edu.pl" target="_blank">WMP UKSW</a></li>
               <li><a href="http://psulkows.fuw.edu.pl" target="_blank">Piotr Sułkowski</a></li><li><a href="http://nikalubowicz.pl" target="_blank">Nika Lubowicz</a></li>
               <li><a href="https://zapytajfizyka.fuw.edu.pl" target="_blank">Zapytaj Fizyka</a></li>
               <li><a href="http://amainstitute.pl" target="_blank">AMA Institute</a></li></ul></div>
      </div>
      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://github.com/sebkaz" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://pl.linkedin.com/in/sebastian-zając-b4b834b3" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://scholar.google.pl/citations?user=Ttb9GbAAAAAJ&hl=pl" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.researchgate.net/profile/Sebastian_Zajac" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2017 Sebastian Zając</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->
   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/doubletaptogo.js"></script>
   <script src="js/spin.js"></script>

   <script src="js/init.js"></script>

</body>

</html>
